<div class="container">
<br>
<br>
<br>
<br>
<br>
<br>

<h1>New Profile</h1>
byebug

<%= render 'form', profile: @profile %>
	<%if @user && @user.image.present? %>
	  	<img src="<%= @user.image %>" >
	<% else %> 
		<%= form_for(@profile, :url => user_profiles_path, :method => "post") do |f| %>
		  <%= f.file_field :avatar %>
		  <%# f.label "Profile photo" %>
		 
		  <%= f.submit 'Save Profile', class: "btn btn btn-primary" %>
		<% end %>
	<% end %>
<br>




<%= link_to 'Back', user_profiles_path %>
</div>

<%# form_for [:user, @profile] @person do |f| %>
			<%# f.label "Profile photo" %>
			<%# f.file_field :avatar %>
			<%# f.submit 'Upload' %>