<div class="container">
<br>
<br>
<br>
<br>
<br>
<br>

<h1>Hello <%= current_user.first_name %></h1>



<%= form_for(@profile, url: user_profile_path(current_user), method: :post) do |f| %>
  
    <div class="field">
      <%= f.label :about %>
      <%= f.text_area :about %>
    </div>

    <div class="field">
      <%= f.file_field :avatar %>
      <% f.label "Profile photo" %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>®
	
</div>

<%# form_for [:user, @profile] @person do |f| %>
			<%# f.label "Profile photo" %>
			<%# f.file_field :avatar %>
			<%# f.submit 'Upload' %>