<div class="container">



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p id="notice"><%= notice %></p>

<p>
  <strong>About:</strong>
  <%= @profile.about %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @profile.rating %>
</p>

<%= link_to 'Edit', edit_user_profile_path(current_user.id, current_user.profile.id) %> |
<%= link_to 'Back', user_profiles_path %>

<div class="container">
