<div class="container">



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p id="notice"><%= notice %></p>

<% if @profile == current_user.profile  %>
	<strong> Welcome </strong><%= current_user.first_name  %>
<% else  %>
	<strong> This is a profile of </strong><%= @user.first_name  %> <%= @user.last_name  %>
<% end  %>

<p>
  <strong>Street:</strong>
  <%= @user.street %>
</p>

<p>
  <strong>About:</strong>
  <%= @profile.about %>
</p>


	<strong>Profile image</strong>
	<%= image_tag(url_for(@profile.avatar), style: 'width:50px; height:50px;') %>
</p>


<%= link_to 'Edit', edit_user_profile_path(current_user.profile) %>
<%= link_to 'Show other profiles', users_path %>


<div class="container">
