<!DOCTYPE html>
<html>
  <head>
    <title>Neigbornow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'owl.theme.default.min', media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag 'owl.carousel.min', media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag 'jquery-ui', media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </body>
</html>
